@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100200300400500600700800900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

body {
  background-image: url("./../img/bg.jpeg");
  height: 100vh;
}

h1 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 900;
  text-align: center;
  padding: 2rem 0;
  line-height: 2.3rem;
}

a {
  color: #fff;
  text-decoration: none;
}

.MainWindow {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.ChatWindow {
  width: 100%;
  height: calc(100vh/1.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ChatList {
  width: 250px;
  background-color: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0 12px;
  overflow-y: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0.5rem;
}

.ChatMessages {
  width: 350px;
  height: 100%;
  background-color: #3F3F46;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0 12px;
  overflow-y: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.ChatForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 18px;
}

.ChatText {
  width: 100%;
  padding: 0.75rem 0.25rem 0.75rem 0.75rem;
  border: 1px solid;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: #fff;
}

.ChatText:focus {
  outline: none;
}

.ChatButton {
  background-color: #000000;
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 0.5rem 1rem;
  border: none;
}

.ChatButton:hover {
  background-color: #121212;
  cursor: pointer;
}

.ChatButton:hover:active {
  background-color: #242424;
}

.ScrollBarStyle::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 8px;
  height: 0px;
}

.ScrollBarStyle::-webkit-scrollbar-track {
  background-color: #777777;
}

.ScrollBarStyle::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #121212;
}

.ScrollBarStyle::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}

.ScrollBarStyle::-webkit-resizer {
  background-repeat: no-repeat;
  width: 4px;
  height: 20px;
}

.ScrollBarStyle::-webkit-scrollbar {
  width: 6px;
}

.icons {
  margin-right: 12px;
  color: #5900ff;
}

.page404 {
  margin-top: 100px;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ChatLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
